import scrapper
from mall_partner_web_adapter import MallPartnerWebAdapter


scrapper = scrapper.Scrapper(
	MallPartnerWebAdapter('email', 'password'),
	scrapper.CsvUniqueStorage('mall_partner.csv', 'mall_partner.unique.csv')
)
scrapper.run(scrapper.MODE_NATURAL)


input('Done.')
