import scrapper
from mall_partner_web_adapter import MallPartnerWebAdapter


scrapper = scrapper.Scrapper(
	MallPartnerWebAdapter('email', 'password'),
	scrapper.CsvUniqueStorage('MallPartner.csv', 'MallPartner.unique.csv')
)
scrapper.run(scrapper.MODE_NATURAL)


input('Done.')
